#top {
	background: orange;
}

#bot {
	background: green;
}

#article1 {
	display: none;
	border: 1px solid black;
	margin: 10px 0;
	cursor: pointer;
	box-shadow:
          1px 1px #B3B3B2FF,
          2px 2px #B3B3B2FF,
          3px 3px #B3B3B2FF;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
	/*background-color: rgb(125, 244, 66, 0.5);*/
}

#article2 {
	display: none;
	border: 1px solid black;
	margin: 10px 0;
	cursor: pointer;
	box-shadow:
          1px 1px #B3B3B2FF,
          2px 2px #B3B3B2FF,
          3px 3px #B3B3B2FF;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
	/*background-color: rgb(188, 62, 62, 0.6);*/
}

#img1 {
	height: 78px;
	vertical-align: middle;
	display: table-cell;
	border: 1px solid #999998FF;
	border-radius: 4px;
	margin: 5px;
}

#img2 {
	height: 78px;
	vertical-align: middle;
	display: table-cell;
	border: 1px solid #999998FF;
	border-radius: 4px;
	margin: 5px;
}

span {
	vertical-align: middle;
	display: table-cell;
}

.tick {
	color: green;
	float: right;
}

.cross {
	color: red;
	float: right;
}

#test {
	color: red;
}

#test1 {
	color: black;
}

#notify {
	object-position: center;
	text-align: center;
	margin: 0;
	font-size: 25px;
	display: none;
}

#link1 {
	margin: 10px 0;
}

#link2 {
	margin: 10px 0;
}

#correct {
	color: #107F01FF;
}

#seperator {
	color: white;
}

#wrong {
	color: #FC6665FF;
}

#currentSession {
	font-weight: bold;
}

#seperator {
	font-size: 17px;
	color: #E6E6E5FF;
}

#start {
	text-align: center;
}

.sprite {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sprite.spot {
	background-position: 0 0; width: 200px; height: 150px;
	margin-top: -50px;
}

body {
	/*background-color: red;*/
}

.hovering {
	transition: all 0.3s ease-in-out;
}

.hovering:hover {
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

.shrink {
	transition: all 0.6s ease-in-out;
}

.shrink {
	-webkit-transform: scale(0.96);
	-ms-transform: scale(0.96);
	transform: scale(0.96);
}







